In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import glob
import os
import pandas as pd
from langdetect import detect

from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from transformers import DistilBertTokenizer, DistilBertForSequenceClassification

In [2]:
current_city = 'LosAngeles'

In [3]:
def read_and_concatenate_csv_files(city_name, directory='../data/cities'):
    pattern = os.path.join(directory, f'reviews_{city_name}_en*.csv.gz')
    files = glob.glob(pattern)
    
    df_list = []
    for file in files:
        df = pd.read_csv(file)
        df_list.append(df)

    print(df_list)
    
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
    else:
        combined_df = pd.DataFrame()  # Return an empty DataFrame if no files found
    
    return combined_df

In [4]:
# multiple files
reviews = read_and_concatenate_csv_files(current_city)
print(reviews.head())

# single file
#reviews = pd.read_csv(f'../data/cities/reviews_{current_city}_en.csv.gz', compression='gzip')

[        listing_id         id        date  reviewer_id reviewer_name  \
0              109     449036  2011-08-15       927861         Edwin
1              109   74506539  2016-05-15     22509885          Jenn
2             2708   13994902  2014-06-09     10905424       Kuberan
3             2708   14606598  2014-06-23      2247288       Camilla
4             2708   39597339  2015-07-25     27974696        Fallon
...            ...        ...         ...          ...           ...
199995     5135865  459691215  2019-05-27    257772152        Ho Nam
199996     5135865  471051391  2019-06-16    219675410         Artie
199997     5135865  489974845  2019-07-17    274077763       Dominic
199998     5135865  491862434  2019-07-20     91156789          Anar
199999     4830835   29579642  2015-04-09     12550756        Andrea

                                                 comments
0       The host canceled my reservation the day befor...
1       Me and two friends stayed for four and a half ...
2       i had a wonderful stay. Everything from start ...
3       Charles is just amazing and he made my stay sp...
4       Staying with Chas was an absolute pleasure. He...
...                                                   ...
199995  Close to Hollywood and public transport, a con...
199996  Well beyond accommodating and professional. Wi...
199997  Location is amazing! Appartment is a little no...
199998  Roseman a very good host and helpful, he answe...
199999  I absolutely adored staying at Brittan's house...

[200000 rows x 6 columns],         listing_id         id        date  reviewer_id reviewer_name  \
0          5135865  497628907  2019-07-28    222400943     Tianxiong
1          5135865  501543813  2019-08-03     26222897         Arley
2          5135865  510928528  2019-08-16     42017338       Shannon
3          5135865  520027616  2019-08-29    115135444        Jeroen
4          5135865  526271358  2019-09-08    176399613         Maria
...            ...        ...         ...          ...           ...
199995    13716877  196552040  2017-09-23    100846186         Lucas
199996    13716877  202535809  2017-10-11     11328881      Michelle
199997    13716877  204076215  2017-10-16    117945702      Samantha
199998    13716877  206492997  2017-10-25     57461518          Katy
199999    13716877  211416773  2017-11-12     84562107      Damilola

                                                 comments
0       Nice place to get to Hollywood. It seems an ol...
1       This apartment is as described. It meets your ...
2       Great clean space. We loved it. Close to every...
3       A very nice and clean compact apartment. Commu...
4       We loved the location, right on Sunset Blvd, y...
...                                                   ...
199995  Haydee & Gerald are truly great hosts and grea...
199996  Perfect stay in LA. Everything was clean and w...
199997  We love Haydee & Gerald! They made us feel so ...
199998  We were very pleased with the accomodations an...
199999  I truly loved staying in this cozy cottage. Th...

[200000 rows x 6 columns],         listing_id                  id        date  reviewer_id  \
0         13716877           214114903  2017-11-24    100187465
1         13716877           215131763  2017-11-27     30992656
2         13716877           216798070  2017-12-05    101442599
3         13716877           219769258  2017-12-18     65248655
4         13716877           220752356  2017-12-23     64580232
...            ...                 ...         ...          ...
224995    21394197  548669658333261091  2022-01-26    219001070
224996    21394197  552271064945972116  2022-01-31    174649169
224997    21394197  555919849965093443  2022-02-05     35831704
224998    21394197  556639710093684375  2022-02-06     35972118
224999    21394197  558784172911651021  2022-02-09    192550640

          reviewer_name                                           comments
0                 Laura                   Definitely great place to return
1             Giancarlo  This place is truly a hidden Gem. Location is ...
2             Ramandeep  Nice and clean place just as it looks in pictu...
3                Hubert                          Great place to stay in LA
4                Heejoo                             It was wonderful stay.
...                 ...                                                ...
224995  Patrick Michael  Stylish and comfortable home and location for ...
224996             Jori  First and foremost the host is amazing! Very r...
224997            Molly  Highly recommend for a stylish, affordable opt...
224998         Courtney  It’s literally the cutest space I’ve ever been...
224999            Emily  Allie’s place is absolutely magical. It is bea...

[225000 rows x 6 columns],         listing_id                  id        date  reviewer_id reviewer_name  \
0         21394197  562454897815956866  2022-02-14     45898380         Jenna
1         21394197  563821633416652270  2022-02-16     77763623          Tori
2         21394197  566733058566546531  2022-02-20     98198069           Jen
3         21216354           556147062  2019-10-28    121228452       Matthew
4         21216354           557702813  2019-11-01    229624992          Ines
...            ...                 ...         ...          ...           ...
224995    31831710  624726514405612252  2022-05-11     25650387      Khristin
224996    31831710  626859647340211981  2022-05-14    304543478       Crystal
224997    31831710  629070862217877897  2022-05-17    178633209      Michelle
224998    31831710  629788010731083574  2022-05-18    144697261           Sam
224999    31831710  630467884552918234  2022-05-19    170122649        Laurin

                                                 comments
0       Allie is great. Super helpful and communicativ...
1       It is always a pleasure staying here! This was...
2       This is a beautiful property in a great locati...
3       Great place, stylish and close to so many plac...
4       This Airbnb is amazing! The place looks exactl...
...                                                   ...
224995  Great location! Close to the highway and the a...
224996  It was what we expected and we had great instr...
224997  Beautiful place. Great location. Jessica was v...
224998    Great Value , will stay again if it’s available
224999  Great energy inside space and neighborhood qui...

[225000 rows x 6 columns],         listing_id                  id        date  reviewer_id reviewer_name  \
0         31831710  631901928801347169  2022-05-21    192112601          Rema
1         31831710  632682836061266574  2022-05-22    445462226         Renee
2         31831710  635622719159052560  2022-05-26    206559914         Amadi
3         31831710  636240106069057220  2022-05-27      2045051       Suzanne
4         31831710  637789139189990816  2022-05-29    192117018         Annie
...            ...                 ...         ...          ...           ...
224995    45740277  871832336293082846  2023-04-17     14996084      Jonathan
224996    45740277  887122912700535648  2023-05-08     58428992         April
224997    45740277  907300746628395861  2023-06-05    162465980      Lawrence
224998    45740277  913863943363562649  2023-06-14    167722713       Kamaehu
224999    45740277  916757562426149228  2023-06-18    510999546       Shannon

                                                 comments
0               Great place to stay! Will be coming back!
1                              Cute house, easy check in!
2       Very clean house and safe neighborhood. Very c...
3       Very clean, comfortable space.<br/>Great commu...
4                      Very clean and good place to stay.
...                                                   ...
224995  Excellent Beach apartment, great location to L...
224996  This home was super convenient to everything. ...
224997  This is the perfect location with the perfect ...
224998  This is an awesome location for its proximity ...
224999  Came in for a quick trip to So Cal and chose t...

[225000 rows x 6 columns],                 listing_id                   id        date  reviewer_id  \
0                 45740277   933483208324758773  2023-07-11     35233547
1                 45740277   947895885263864798  2023-07-31    501645422
2                 45740277   952250021756958963  2023-08-06    132136939
3                 45740277  1034186855982318157  2023-11-27    170951988
4                 45740277  1057368038369709447  2023-12-29     56545085
...                    ...                  ...         ...          ...
224995  629315228790051568   754433088780210935  2022-11-06    484926049
224996  629315228790051568   757351059188392067  2022-11-10    484050838
224997  629315228790051568   763127775661874108  2022-11-18    190360974
224998  629315228790051568   770361902257931573  2022-11-28    306269651
224999  629315228790051568   778378269011743083  2022-12-09    484324898

       reviewer_name                                           comments
0            Nichole  Comfortable place perfect for our family. FYI ...
1            Suzanne  The air conditioning wasn’t great but the ceil...
2             Rachel  Leon was a great communicator, super helpful. ...
3              Achal  Had a few issues with our stay but Host was ex...
4               Jeff  Leon is a great host. Excellent communication....
...              ...                                                ...
224995      Svitlana  Definitely recommend this place to stay! Had g...
224996         Julio  The place is very organized and very clean. Th...
224997    Juan Pablo  This place is amazing. I had to trouble for wo...
224998        Martin                    thank you Molly great service !
224999        Kelvin                                  Perfect location!

[225000 rows x 6 columns],                  listing_id                   id        date  reviewer_id  \
0        629315228790051568   781256674545450966  2022-12-13    155364077
1        629315228790051568   789215841862710938  2022-12-24    107286305
2        624771945804256374  1034207776957748263  2023-11-27    128290181
3        628390159491308989  1016769583475269013  2023-11-03    540667526
4        628390159491308989  1028370248639586574  2023-11-19    167086270
...                     ...                  ...         ...          ...
178433  1106102344324191419  1108857075736296542  2024-03-09    464425549
178434  1105161305763499308  1110299021812175338  2024-03-11    197143879
178435  1103938509401650481  1108149597720720538  2024-03-08    420148976
178436  1106135825128537602  1108926306917835858  2024-03-09    414120306
178437  1106180100914558994  1109611134760993407  2024-03-10    145988297

          reviewer_name                                           comments
0                 Faruk  Lovely and tidy Airbnb home equipped with ever...
1               Tatiana  Literally perfect ! Felt at home and good spac...
2              Nataliya  We stayed in this apartment for 4 days. Everyt...
3                Tasnim                      Sheila was the sweetest host!
4                Vivian  Great condo. Very clean and I would definitely...
...                 ...                                                ...
178433             Eden  The apartment is so clean and cozy! We felt ri...
178434            Jacob  Very nice family. Helpful and cheerful. <br/>L...
178435  Regina Emanuela  Good location, a few minutes walk to the beach...
178436              Sue  Wonderful stay. Lovely, updated, clean accommo...
178437           Johnny                              This place was great!

[178438 rows x 6 columns]]
   listing_id        id        date  reviewer_id reviewer_name  \
0         109    449036  2011-08-15       927861         Edwin
1         109  74506539  2016-05-15     22509885          Jenn
2        2708  13994902  2014-06-09     10905424       Kuberan
3        2708  14606598  2014-06-23      2247288       Camilla
4        2708  39597339  2015-07-25     27974696        Fallon

                                            comments
0  The host canceled my reservation the day befor...
1  Me and two friends stayed for four and a half ...
2  i had a wonderful stay. Everything from start ...
3  Charles is just amazing and he made my stay sp...
4  Staying with Chas was an absolute pleasure. He...

Ground_truth: review_scores_rating

## Preparing llm

In [5]:
model_name = "sohan-ai/sentiment-analysis-model-amazon-reviews"
tokenizer = DistilBertTokenizer.from_pretrained("distilbert-base-uncased")
model = DistilBertForSequenceClassification.from_pretrained(model_name)
model.to('cuda')

DistilBertForSequenceClassification(
  (distilbert): DistilBertModel(
    (embeddings): Embeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(512, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (transformer): Transformer(
      (layer): ModuleList(
        (0-5): 6 x TransformerBlock(
          (attention): MultiHeadSelfAttention(
            (dropout): Dropout(p=0.1, inplace=False)
            (q_lin): Linear(in_features=768, out_features=768, bias=True)
            (k_lin): Linear(in_features=768, out_features=768, bias=True)
            (v_lin): Linear(in_features=768, out_features=768, bias=True)
            (out_lin): Linear(in_features=768, out_features=768, bias=True)
          )
          (sa_layer_norm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
          (ffn): FFN(
            (dropout): Dropout(p=0.1, inplace=False)
            (lin1): Linear(in_features=768, out_features=3072, bias=True)
            (lin2): Linear(in_features=3072, out_features=768, bias=True)
            (activation): GELUActivation()
          )
          (output_layer_norm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
        )
      )
    )
  )
  (pre_classifier): Linear(in_features=768, out_features=768, bias=True)
  (classifier): Linear(in_features=768, out_features=2, bias=True)
  (dropout): Dropout(p=0.2, inplace=False)
)

In [19]:
# Function to detect language
def detect_language(text):
    try:
        return detect(text)
    except:
        return 'unknown'

# Apply the function to the DataFrame
reviews['language'] = reviews['comments'].apply(detect_language)

# Filter for English texts
reviews['is_english'] = reviews['language'] == 'en'

In [27]:
def add_sentiment_features(row):
    global count
    count += 1
    if count % 1000 == 0:
        print(f'row: {count}')
    #if count > 4500:
    #    if count % 1 == 0:
    #        print(f'row: {count} | content: {row["comments"]}')
    text = row['comments']
    #if len(text) > 512:
    #    text = text[:512]
    inputs = tokenizer(text, return_tensors="pt").to('cuda')
    
    outputs = model(**inputs)
    logits = outputs.logits.detach().cpu().numpy()
    return logits[0][0], logits[0][1]

In [25]:
reviews = reviews[reviews['language'] == 'en']

In [26]:
reviews[reviews['language'] != 'en']

Empty DataFrame
Columns: [listing_id, id, date, reviewer_id, reviewer_name, comments, language, is_english]
Index: []

In [28]:
count = 0


reviews['comments'] = reviews['comments'].astype(str)
reviews['comments'] = reviews['comments'].apply(lambda x: x[:512] if len(x) > 512 else x)
reviews['feature_1'], reviews['feature_2'] = zip(*reviews.apply(add_sentiment_features, axis=1))

C:\Users\big10\AppData\Local\Temp\ipykernel_30672\2241461642.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['comments'] = reviews['comments'].astype(str)
C:\Users\big10\AppData\Local\Temp\ipykernel_30672\2241461642.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['comments'] = reviews['comments'].apply(lambda x: x[:512] if len(x) > 512 else x)

row: 1000
row: 2000
row: 3000
row: 4000
row: 5000
row: 6000
row: 7000
row: 8000
row: 9000
row: 10000
row: 11000
row: 12000
row: 13000
row: 14000
row: 15000
row: 16000
row: 17000
row: 18000
row: 19000
row: 20000
row: 21000
row: 22000
row: 23000
row: 24000
row: 25000
row: 26000
row: 27000
row: 28000
row: 29000
row: 30000
row: 31000
row: 32000
row: 33000
row: 34000
row: 35000
row: 36000
row: 37000
row: 38000
row: 39000
row: 40000
row: 41000
row: 42000
row: 43000
row: 44000
row: 45000
row: 46000
row: 47000
row: 48000
row: 49000
row: 50000
row: 51000
row: 52000
row: 53000
row: 54000
row: 55000
row: 56000
row: 57000
row: 58000
row: 59000
row: 60000
row: 61000
row: 62000
row: 63000
row: 64000
row: 65000
row: 66000
row: 67000
row: 68000
row: 69000
row: 70000
row: 71000
row: 72000
row: 73000
row: 74000
row: 75000
row: 76000
row: 77000
row: 78000
row: 79000
row: 80000
row: 81000
row: 82000
row: 83000
row: 84000
row: 85000
row: 86000
row: 87000
row: 88000
row: 89000
row: 90000
row: 91000
row: 92000
row: 93000
row: 94000
row: 95000
row: 96000
row: 97000
row: 98000
row: 99000
row: 100000
row: 101000
row: 102000
row: 103000
row: 104000
row: 105000
row: 106000
row: 107000
row: 108000
row: 109000
row: 110000
row: 111000
row: 112000
row: 113000
row: 114000
row: 115000
row: 116000
row: 117000
row: 118000
row: 119000
row: 120000
row: 121000
row: 122000
row: 123000
row: 124000
row: 125000
row: 126000
row: 127000
row: 128000
row: 129000
row: 130000
row: 131000
row: 132000
row: 133000
row: 134000
row: 135000
row: 136000
row: 137000
row: 138000
row: 139000
row: 140000
row: 141000
row: 142000
row: 143000
row: 144000
row: 145000
row: 146000
row: 147000
row: 148000
row: 149000
row: 150000
row: 151000
row: 152000
row: 153000
row: 154000
row: 155000
row: 156000
row: 157000
row: 158000
row: 159000
row: 160000
row: 161000
row: 162000
row: 163000
row: 164000
row: 165000
row: 166000
row: 167000
row: 168000
row: 169000
row: 170000
row: 171000
row: 172000
row: 173000
row: 174000
row: 175000
row: 176000
row: 177000
row: 178000
row: 179000
row: 180000
row: 181000
row: 182000
row: 183000
row: 184000
row: 185000
row: 186000
row: 187000
row: 188000
row: 189000
row: 190000
row: 191000
row: 192000
row: 193000
row: 194000
row: 195000
row: 196000
row: 197000
row: 198000
row: 199000
row: 200000
row: 201000
row: 202000
row: 203000
row: 204000
row: 205000
row: 206000
row: 207000
row: 208000
row: 209000
row: 210000
row: 211000
row: 212000
row: 213000
row: 214000
row: 215000
row: 216000
row: 217000
row: 218000
row: 219000
row: 220000
row: 221000
row: 222000
row: 223000
row: 224000
row: 225000
row: 226000
row: 227000
row: 228000
row: 229000
row: 230000
row: 231000
row: 232000
row: 233000
row: 234000
row: 235000
row: 236000
row: 237000
row: 238000
row: 239000
row: 240000
row: 241000
row: 242000
row: 243000
row: 244000
row: 245000
row: 246000
row: 247000
row: 248000
row: 249000
row: 250000
row: 251000
row: 252000
row: 253000
row: 254000
row: 255000
row: 256000
row: 257000
row: 258000
row: 259000
row: 260000
row: 261000
row: 262000
row: 263000
row: 264000
row: 265000
row: 266000
row: 267000
row: 268000
row: 269000
row: 270000
row: 271000
row: 272000
row: 273000
row: 274000
row: 275000
row: 276000
row: 277000
row: 278000
row: 279000
row: 280000
row: 281000
row: 282000
row: 283000
row: 284000
row: 285000
row: 286000
row: 287000
row: 288000
row: 289000
row: 290000
row: 291000
row: 292000
row: 293000
row: 294000
row: 295000
row: 296000
row: 297000
row: 298000
row: 299000
row: 300000
row: 301000
row: 302000
row: 303000
row: 304000
row: 305000
row: 306000
row: 307000
row: 308000
row: 309000
row: 310000
row: 311000
row: 312000
row: 313000
row: 314000
row: 315000
row: 316000
row: 317000
row: 318000
row: 319000
row: 320000
row: 321000
row: 322000
row: 323000
row: 324000
row: 325000
row: 326000
row: 327000
row: 328000
row: 329000
row: 330000
row: 331000
row: 332000
row: 333000
row: 334000
row: 335000
row: 336000
row: 337000
row: 338000
row: 339000
row: 340000
row: 341000
row: 342000
row: 343000
row: 344000
row: 345000
row: 346000
row: 347000
row: 348000
row: 349000
row: 350000
row: 351000
row: 352000
row: 353000
row: 354000
row: 355000
row: 356000
row: 357000
row: 358000
row: 359000
row: 360000
row: 361000
row: 362000
row: 363000
row: 364000
row: 365000
row: 366000
row: 367000
row: 368000
row: 369000
row: 370000
row: 371000
row: 372000
row: 373000
row: 374000
row: 375000
row: 376000
row: 377000
row: 378000
row: 379000
row: 380000
row: 381000
row: 382000
row: 383000
row: 384000
row: 385000
row: 386000
row: 387000
row: 388000
row: 389000
row: 390000
row: 391000
row: 392000
row: 393000
row: 394000
row: 395000
row: 396000
row: 397000
row: 398000
row: 399000
row: 400000
row: 401000
row: 402000
row: 403000
row: 404000
row: 405000
row: 406000
row: 407000
row: 408000
row: 409000
row: 410000
row: 411000
row: 412000
row: 413000
row: 414000
row: 415000
row: 416000
row: 417000
row: 418000
row: 419000
row: 420000
row: 421000
row: 422000
row: 423000
row: 424000
row: 425000
row: 426000
row: 427000
row: 428000
row: 429000
row: 430000
row: 431000
row: 432000
row: 433000
row: 434000
row: 435000
row: 436000
row: 437000
row: 438000
row: 439000
row: 440000
row: 441000
row: 442000
row: 443000
row: 444000
row: 445000
row: 446000
row: 447000
row: 448000
row: 449000
row: 450000
row: 451000
row: 452000
row: 453000
row: 454000
row: 455000
row: 456000
row: 457000
row: 458000
row: 459000
row: 460000
row: 461000
row: 462000
row: 463000
row: 464000
row: 465000
row: 466000
row: 467000
row: 468000
row: 469000
row: 470000
row: 471000
row: 472000
row: 473000
row: 474000
row: 475000
row: 476000
row: 477000
row: 478000
row: 479000
row: 480000
row: 481000
row: 482000
row: 483000
row: 484000
row: 485000
row: 486000
row: 487000
row: 488000
row: 489000
row: 490000
row: 491000
row: 492000
row: 493000
row: 494000
row: 495000
row: 496000
row: 497000
row: 498000
row: 499000
row: 500000
row: 501000
row: 502000
row: 503000
row: 504000
row: 505000
row: 506000
row: 507000
row: 508000
row: 509000
row: 510000
row: 511000
row: 512000
row: 513000
row: 514000
row: 515000
row: 516000
row: 517000
row: 518000
row: 519000
row: 520000
row: 521000
row: 522000
row: 523000
row: 524000
row: 525000
row: 526000
row: 527000
row: 528000
row: 529000
row: 530000
row: 531000
row: 532000
row: 533000
row: 534000
row: 535000
row: 536000
row: 537000
row: 538000
row: 539000
row: 540000
row: 541000
row: 542000
row: 543000
row: 544000
row: 545000
row: 546000
row: 547000
row: 548000
row: 549000
row: 550000
row: 551000
row: 552000
row: 553000
row: 554000
row: 555000
row: 556000
row: 557000
row: 558000
row: 559000
row: 560000
row: 561000
row: 562000
row: 563000
row: 564000
row: 565000
row: 566000
row: 567000
row: 568000
row: 569000
row: 570000
row: 571000
row: 572000
row: 573000
row: 574000
row: 575000
row: 576000
row: 577000
row: 578000
row: 579000
row: 580000
row: 581000
row: 582000
row: 583000
row: 584000
row: 585000
row: 586000
row: 587000
row: 588000
row: 589000
row: 590000
row: 591000
row: 592000
row: 593000
row: 594000
row: 595000
row: 596000
row: 597000
row: 598000
row: 599000
row: 600000
row: 601000
row: 602000
row: 603000
row: 604000
row: 605000
row: 606000
row: 607000
row: 608000
row: 609000
row: 610000
row: 611000
row: 612000
row: 613000
row: 614000
row: 615000
row: 616000
row: 617000
row: 618000
row: 619000
row: 620000
row: 621000
row: 622000
row: 623000
row: 624000
row: 625000
row: 626000
row: 627000
row: 628000
row: 629000
row: 630000
row: 631000
row: 632000
row: 633000
row: 634000
row: 635000
row: 636000
row: 637000
row: 638000
row: 639000
row: 640000
row: 641000
row: 642000
row: 643000
row: 644000
row: 645000
row: 646000
row: 647000
row: 648000
row: 649000
row: 650000
row: 651000
row: 652000
row: 653000
row: 654000
row: 655000
row: 656000
row: 657000
row: 658000
row: 659000
row: 660000
row: 661000
row: 662000
row: 663000
row: 664000
row: 665000
row: 666000
row: 667000
row: 668000
row: 669000
row: 670000
row: 671000
row: 672000
row: 673000
row: 674000
row: 675000
row: 676000
row: 677000
row: 678000
row: 679000
row: 680000
row: 681000
row: 682000
row: 683000
row: 684000
row: 685000
row: 686000
row: 687000
row: 688000
row: 689000
row: 690000
row: 691000
row: 692000
row: 693000
row: 694000
row: 695000
row: 696000
row: 697000
row: 698000
row: 699000
row: 700000
row: 701000
row: 702000
row: 703000
row: 704000
row: 705000
row: 706000
row: 707000
row: 708000
row: 709000
row: 710000
row: 711000
row: 712000
row: 713000
row: 714000
row: 715000
row: 716000
row: 717000
row: 718000
row: 719000
row: 720000
row: 721000
row: 722000
row: 723000
row: 724000
row: 725000
row: 726000
row: 727000
row: 728000
row: 729000
row: 730000
row: 731000
row: 732000
row: 733000
row: 734000
row: 735000
row: 736000
row: 737000
row: 738000
row: 739000
row: 740000
row: 741000
row: 742000
row: 743000
row: 744000
row: 745000
row: 746000
row: 747000
row: 748000
row: 749000
row: 750000
row: 751000
row: 752000
row: 753000
row: 754000
row: 755000
row: 756000
row: 757000
row: 758000
row: 759000
row: 760000
row: 761000
row: 762000
row: 763000
row: 764000
row: 765000
row: 766000
row: 767000
row: 768000
row: 769000
row: 770000
row: 771000
row: 772000
row: 773000
row: 774000
row: 775000
row: 776000
row: 777000
row: 778000
row: 779000
row: 780000
row: 781000
row: 782000
row: 783000
row: 784000
row: 785000
row: 786000
row: 787000
row: 788000
row: 789000
row: 790000
row: 791000
row: 792000
row: 793000
row: 794000
row: 795000
row: 796000
row: 797000
row: 798000
row: 799000
row: 800000
row: 801000
row: 802000
row: 803000
row: 804000
row: 805000
row: 806000
row: 807000
row: 808000
row: 809000
row: 810000
row: 811000
row: 812000
row: 813000
row: 814000
row: 815000
row: 816000
row: 817000
row: 818000
row: 819000
row: 820000
row: 821000
row: 822000
row: 823000
row: 824000
row: 825000
row: 826000
row: 827000
row: 828000
row: 829000
row: 830000
row: 831000
row: 832000
row: 833000
row: 834000
row: 835000
row: 836000
row: 837000
row: 838000
row: 839000
row: 840000
row: 841000
row: 842000
row: 843000
row: 844000
row: 845000
row: 846000
row: 847000
row: 848000
row: 849000
row: 850000
row: 851000
row: 852000
row: 853000
row: 854000
row: 855000
row: 856000
row: 857000
row: 858000
row: 859000
row: 860000
row: 861000
row: 862000
row: 863000
row: 864000
row: 865000
row: 866000
row: 867000
row: 868000
row: 869000
row: 870000
row: 871000
row: 872000
row: 873000
row: 874000
row: 875000
row: 876000
row: 877000
row: 878000
row: 879000
row: 880000
row: 881000
row: 882000
row: 883000
row: 884000
row: 885000
row: 886000
row: 887000
row: 888000
row: 889000
row: 890000
row: 891000
row: 892000
row: 893000
row: 894000
row: 895000
row: 896000
row: 897000
row: 898000
row: 899000
row: 900000
row: 901000
row: 902000
row: 903000
row: 904000
row: 905000
row: 906000
row: 907000
row: 908000
row: 909000
row: 910000
row: 911000
row: 912000
row: 913000
row: 914000
row: 915000
row: 916000
row: 917000
row: 918000
row: 919000
row: 920000
row: 921000
row: 922000
row: 923000
row: 924000
row: 925000
row: 926000
row: 927000
row: 928000
row: 929000
row: 930000
row: 931000
row: 932000
row: 933000
row: 934000
row: 935000
row: 936000
row: 937000
row: 938000
row: 939000
row: 940000
row: 941000
row: 942000
row: 943000
row: 944000
row: 945000
row: 946000
row: 947000
row: 948000
row: 949000
row: 950000
row: 951000
row: 952000
row: 953000
row: 954000
row: 955000
row: 956000
row: 957000
row: 958000
row: 959000
row: 960000
row: 961000
row: 962000
row: 963000
row: 964000
row: 965000
row: 966000
row: 967000
row: 968000
row: 969000
row: 970000
row: 971000
row: 972000
row: 973000
row: 974000
row: 975000
row: 976000
row: 977000
row: 978000
row: 979000
row: 980000
row: 981000
row: 982000
row: 983000
row: 984000
row: 985000
row: 986000
row: 987000
row: 988000
row: 989000
row: 990000
row: 991000
row: 992000
row: 993000
row: 994000
row: 995000
row: 996000
row: 997000
row: 998000
row: 999000
row: 1000000
row: 1001000
row: 1002000
row: 1003000
row: 1004000
row: 1005000
row: 1006000
row: 1007000
row: 1008000
row: 1009000
row: 1010000
row: 1011000
row: 1012000
row: 1013000
row: 1014000
row: 1015000
row: 1016000
row: 1017000
row: 1018000
row: 1019000
row: 1020000
row: 1021000
row: 1022000
row: 1023000
row: 1024000
row: 1025000
row: 1026000
row: 1027000
row: 1028000
row: 1029000
row: 1030000
row: 1031000
row: 1032000
row: 1033000
row: 1034000
row: 1035000
row: 1036000
row: 1037000
row: 1038000
row: 1039000
row: 1040000
row: 1041000
row: 1042000
row: 1043000
row: 1044000
row: 1045000
row: 1046000
row: 1047000
row: 1048000
row: 1049000
row: 1050000
row: 1051000
row: 1052000
row: 1053000
row: 1054000
row: 1055000
row: 1056000
row: 1057000
row: 1058000
row: 1059000
row: 1060000
row: 1061000
row: 1062000
row: 1063000
row: 1064000
row: 1065000
row: 1066000
row: 1067000
row: 1068000
row: 1069000
row: 1070000
row: 1071000
row: 1072000
row: 1073000
row: 1074000
row: 1075000
row: 1076000
row: 1077000
row: 1078000
row: 1079000
row: 1080000
row: 1081000
row: 1082000
row: 1083000
row: 1084000
row: 1085000
row: 1086000
row: 1087000
row: 1088000
row: 1089000
row: 1090000
row: 1091000
row: 1092000
row: 1093000
row: 1094000
row: 1095000
row: 1096000
row: 1097000
row: 1098000
row: 1099000
row: 1100000
row: 1101000
row: 1102000
row: 1103000
row: 1104000
row: 1105000
row: 1106000
row: 1107000
row: 1108000
row: 1109000
row: 1110000
row: 1111000
row: 1112000
row: 1113000
row: 1114000
row: 1115000
row: 1116000
row: 1117000
row: 1118000
row: 1119000
row: 1120000
row: 1121000
row: 1122000
row: 1123000
row: 1124000
row: 1125000
row: 1126000
row: 1127000
row: 1128000
row: 1129000
row: 1130000
row: 1131000
row: 1132000
row: 1133000
row: 1134000
row: 1135000
row: 1136000
row: 1137000
row: 1138000
row: 1139000
row: 1140000
row: 1141000
row: 1142000
row: 1143000
row: 1144000
row: 1145000
row: 1146000
row: 1147000
row: 1148000
row: 1149000
row: 1150000
row: 1151000
row: 1152000
row: 1153000
row: 1154000
row: 1155000
row: 1156000
row: 1157000
row: 1158000
row: 1159000
row: 1160000
row: 1161000
row: 1162000
row: 1163000
row: 1164000
row: 1165000
row: 1166000
row: 1167000
row: 1168000
row: 1169000
row: 1170000
row: 1171000
row: 1172000
row: 1173000
row: 1174000
row: 1175000
row: 1176000
row: 1177000
row: 1178000
row: 1179000
row: 1180000
row: 1181000
row: 1182000
row: 1183000
row: 1184000
row: 1185000
row: 1186000
row: 1187000
row: 1188000
row: 1189000
row: 1190000
row: 1191000
row: 1192000
row: 1193000
row: 1194000
row: 1195000
row: 1196000
row: 1197000
row: 1198000
row: 1199000
row: 1200000
row: 1201000
row: 1202000
row: 1203000
row: 1204000
row: 1205000
row: 1206000
row: 1207000
row: 1208000
row: 1209000
row: 1210000
row: 1211000
row: 1212000
row: 1213000
row: 1214000
row: 1215000
row: 1216000
row: 1217000
row: 1218000
row: 1219000
row: 1220000
row: 1221000
row: 1222000
row: 1223000
row: 1224000
row: 1225000
row: 1226000
row: 1227000
row: 1228000
row: 1229000
row: 1230000
row: 1231000
row: 1232000
row: 1233000
row: 1234000
row: 1235000
row: 1236000
row: 1237000
row: 1238000
row: 1239000
row: 1240000
row: 1241000
row: 1242000
row: 1243000
row: 1244000
row: 1245000
row: 1246000
row: 1247000
row: 1248000
row: 1249000
row: 1250000
row: 1251000
row: 1252000
row: 1253000
row: 1254000
row: 1255000
row: 1256000
row: 1257000
row: 1258000
row: 1259000
row: 1260000
row: 1261000
row: 1262000
row: 1263000
row: 1264000
row: 1265000
row: 1266000
row: 1267000
row: 1268000
row: 1269000
row: 1270000
row: 1271000
row: 1272000
row: 1273000
row: 1274000
row: 1275000
row: 1276000
row: 1277000
row: 1278000
row: 1279000
row: 1280000
row: 1281000
row: 1282000
row: 1283000
row: 1284000
row: 1285000
row: 1286000
row: 1287000
row: 1288000
row: 1289000
row: 1290000
row: 1291000
row: 1292000
row: 1293000
row: 1294000
row: 1295000
row: 1296000
row: 1297000
row: 1298000
row: 1299000
row: 1300000
row: 1301000
row: 1302000
row: 1303000
row: 1304000
row: 1305000
row: 1306000
row: 1307000
row: 1308000
row: 1309000
row: 1310000
row: 1311000
row: 1312000
row: 1313000
row: 1314000
row: 1315000
row: 1316000
row: 1317000
row: 1318000
row: 1319000
row: 1320000
row: 1321000
row: 1322000
row: 1323000
row: 1324000
row: 1325000
row: 1326000
row: 1327000
row: 1328000
row: 1329000
row: 1330000
row: 1331000
row: 1332000
row: 1333000
row: 1334000
row: 1335000
row: 1336000
row: 1337000
row: 1338000
row: 1339000
row: 1340000
row: 1341000
row: 1342000
row: 1343000
row: 1344000
row: 1345000
row: 1346000
row: 1347000
row: 1348000
row: 1349000
row: 1350000
row: 1351000
row: 1352000
row: 1353000
row: 1354000
row: 1355000
row: 1356000
row: 1357000
row: 1358000
row: 1359000
row: 1360000
row: 1361000
row: 1362000
row: 1363000
row: 1364000
row: 1365000
row: 1366000
row: 1367000
row: 1368000
row: 1369000
row: 1370000
row: 1371000
row: 1372000
row: 1373000
row: 1374000
row: 1375000
row: 1376000
row: 1377000
row: 1378000
row: 1379000
row: 1380000
row: 1381000
row: 1382000
row: 1383000
row: 1384000
row: 1385000
row: 1386000
row: 1387000
row: 1388000
row: 1389000
row: 1390000
row: 1391000
row: 1392000
row: 1393000
row: 1394000
row: 1395000
row: 1396000
row: 1397000
row: 1398000
row: 1399000
row: 1400000
row: 1401000
row: 1402000
row: 1403000
row: 1404000
row: 1405000
row: 1406000
row: 1407000
row: 1408000
row: 1409000
row: 1410000
row: 1411000
row: 1412000
row: 1413000
row: 1414000
row: 1415000
row: 1416000
row: 1417000
row: 1418000
row: 1419000
row: 1420000
row: 1421000
row: 1422000
row: 1423000
row: 1424000
row: 1425000
row: 1426000
row: 1427000
row: 1428000
row: 1429000
row: 1430000
row: 1431000
row: 1432000
row: 1433000
row: 1434000
row: 1435000
row: 1436000
row: 1437000
row: 1438000
row: 1439000
row: 1440000
row: 1441000
row: 1442000
row: 1443000
row: 1444000
row: 1445000
row: 1446000
row: 1447000
row: 1448000
row: 1449000
row: 1450000
row: 1451000
row: 1452000
row: 1453000
row: 1454000
row: 1455000
row: 1456000
row: 1457000
row: 1458000
row: 1459000
row: 1460000
row: 1461000
row: 1462000
row: 1463000
row: 1464000
row: 1465000
row: 1466000
row: 1467000
row: 1468000
row: 1469000
row: 1470000
row: 1471000
row: 1472000
row: 1473000
row: 1474000
row: 1475000
row: 1476000

C:\Users\big10\AppData\Local\Temp\ipykernel_30672\2241461642.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['feature_1'], reviews['feature_2'] = zip(*reviews.apply(add_sentiment_features, axis=1))
C:\Users\big10\AppData\Local\Temp\ipykernel_30672\2241461642.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['feature_1'], reviews['feature_2'] = zip(*reviews.apply(add_sentiment_features, axis=1))

In [29]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,is_english,feature_1,feature_2
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...,en,True,2.184049,-2.119719
1,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...,en,True,-3.378882,3.399332
2,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...,en,True,-2.092010,2.063507
3,2708,14606598,2014-06-23,2247288,Camilla,Charles is just amazing and he made my stay sp...,en,True,-2.447996,2.458068
4,2708,39597339,2015-07-25,27974696,Fallon,Staying with Chas was an absolute pleasure. He...,en,True,-2.002622,1.969444

In [35]:
#reviews.to_csv('LosAngeles_intermediat.csv')

In [37]:
X = reviews.drop(columns=['listing_id','id','date','reviewer_id','reviewer_name','comments','language','is_english'])

In [38]:
#X = X.drop(columns=['xgb_predict'])

In [39]:
X

         feature_1  feature_2
0         2.184049  -2.119719
1        -3.378882   3.399332
2        -2.092010   2.063507
3        -2.447996   2.458068
4        -2.002622   1.969444
...            ...        ...
1478433  -2.343008   2.356458
1478434  -3.010834   3.034031
1478435  -2.626419   2.677549
1478436  -2.428064   2.452944
1478437  -2.044794   2.027570

[1476048 rows x 2 columns]

In [40]:
X.head()

   feature_1  feature_2
0   2.184049  -2.119719
1  -3.378882   3.399332
2  -2.092010   2.063507
3  -2.447996   2.458068
4  -2.002622   1.969444

In [41]:
with open('XGBoost_kaggle_data_classifier.pkl', 'rb') as file:
    xgb_loaded = pickle.load(file)

# Use the loaded model to make predictions
reviews['xgb_predict'] = xgb_loaded.predict(X) + 1

C:\Users\big10\AppData\Local\Temp\ipykernel_30672\2285221612.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['xgb_predict'] = xgb_loaded.predict(X) + 1

In [42]:
with open('random_forest_kaggle_data_classifier.pkl', 'rb') as file:
    rf_loaded = pickle.load(file)

# Use the loaded model to make predictions
reviews['rf_predict'] = rf_loaded.predict(X) + 1

C:\Users\big10\AppData\Local\Temp\ipykernel_30672\2316187759.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['rf_predict'] = rf_loaded.predict(X) + 1

In [44]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,is_english,feature_1,feature_2,xgb_predict,rf_predict
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...,en,True,2.184049,-2.119719,2,2
1,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...,en,True,-3.378882,3.399332,5,4
2,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...,en,True,-2.092010,2.063507,5,5
3,2708,14606598,2014-06-23,2247288,Camilla,Charles is just amazing and he made my stay sp...,en,True,-2.447996,2.458068,5,5
4,2708,39597339,2015-07-25,27974696,Fallon,Staying with Chas was an absolute pleasure. He...,en,True,-2.002622,1.969444,5,5

In [45]:
reviews.to_csv(f'../data/cities/reviews_{current_city}_en_predictions_added.csv.gz', compression='gzip')

In [43]:
current_city

'LosAngeles'