In [1]:
import pandas as pd

In [2]:
current_city = 'LosAngeles'

In [3]:
listings = pd.read_csv(f'../data/cities/processed/listings_{current_city}_processed.csv')
reviews = pd.read_csv(f'../data/cities/reviews_{current_city}_en_predictions_added.csv.gz', compression='gzip')

In [4]:
listings.rename(columns={'listing_id':'id'}, inplace=True)

In [5]:
listings.head(2)

,id,name,neighborhood_overview,host_id,host_name,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_shared_rooms,reviews_per_month
0,750761099803796354,Luxe Beachfront Living | Hot Tub | Stunning View,NaN,41223310,Luxe Home,NaN,NaN,NaN,f,1.0,...,5.00,5.0,5.00,5.00,5.00,f,1,1,0,0.13
1,751734916792215090,LiLBetty’s Casita. No cleaning fees,Old Town Torrance close by This is where a com...,10348060,Michael,within an hour,98%,100%,f,5.0,...,4.85,4.9,4.91,4.62,4.78,f,5,4,0,9.45

In [6]:
reviews.head(2)

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments,language,is_english,feature_1,feature_2,xgb_predict,rf_predict
0,0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...,en,True,2.184049,-2.119719,2,2
1,1,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...,en,True,-3.378882,3.399332,5,4

In [7]:
#reviews[reviews.listing_id == 50904]

In [8]:
avg_scores_per_listing_id = reviews.groupby('listing_id')[['xgb_predict', 'rf_predict']].mean()
avg_scores_per_listing_id.rename(columns={'xgb_predict':'xgb_predict_avg', 'rf_predict':'rf_predict_avg'}, inplace=True)

In [9]:
avg_scores_per_listing_id.head()

            xgb_predict_avg  rf_predict_avg
listing_id
109                3.500000        3.000000
2708               5.000000        4.975000
2732               4.434783        4.434783
5843               4.914530        4.880342
6033               5.000000        5.000000

In [10]:
listings_finished =  pd.merge(listings, avg_scores_per_listing_id, left_on='id', right_on='listing_id', how='inner')

In [11]:
listings_finished.head()

,id,name,neighborhood_overview,host_id,host_name,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_shared_rooms,reviews_per_month,xgb_predict_avg,rf_predict_avg
0,750761099803796354,Luxe Beachfront Living | Hot Tub | Stunning View,NaN,41223310,Luxe Home,NaN,NaN,NaN,f,1.0,...,5.00,5.00,5.00,f,1,1,0,0.13,5.000000,5.000000
1,751734916792215090,LiLBetty’s Casita. No cleaning fees,Old Town Torrance close by This is where a com...,10348060,Michael,within an hour,98%,100%,f,5.0,...,4.91,4.62,4.78,f,5,4,0,9.45,4.980392,4.960784
2,16273491,Beautiful Family Home,"Beautiful, tree-lined, walkable streets, the h...",3628423,Martha,within an hour,100%,100%,f,1.0,...,5.00,4.71,4.71,f,1,1,0,0.48,5.000000,5.000000
3,1023977999496998260,山景泳池房Vroom—.two beds，温馨的房间，柔软的床，凝结着主人的心思和情感，等待...,1. 迪斯尼公园：20分钟车程至迪斯尼。<br />2. 15分钟车程至Brea购物中心<b...,506510232,Mia,within an hour,99%,100%,t,5.0,...,4.81,5.00,4.86,t,5,0,0,5.48,4.928571,4.928571
4,32863338,Spacious mid-century modern oasis near the beach,Eclectic Topanga Canyon is known as a haven fo...,66062193,Sean,NaN,NaN,NaN,f,1.0,...,5.00,4.86,5.00,f,1,1,0,0.37,5.000000,4.954545

In [14]:
listings_finished.to_csv(f'../data/cities/finished/listings_{current_city}_finished.csv.gz', compression='gzip')

In [13]:
listings_finished.columns

Index(['id', 'name', 'neighborhood_overview', 'host_id', 'host_name',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_listings_count', 'host_total_listings_count',
       'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price_$',
       'minimum_nights', 'maximum_nights', 'maximum_maximum_nights',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'xgb_predict_avg', 'rf_predict_avg'],
      dtype='object')